<form>
    <div *ngIf="isLoading" class="spinner-border" role="status">
        <span class="sr-only"></span>
    </div>

    <div *ngIf="!isLoading">
        <div class="form-group form-inline">
            Full text search: <input class="form-control ml-2" style="width: 30%" type="text"
                [formControl]="fullNameFilter" />
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Surname</th>
                    <th scope="col">Birth Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users; let i = index">
                    <th scope="row">{{ i+1 }}</th>
                    <td>{{ user.name }}</td>
                    <td>{{ user.surname}}</td>
                    <td>{{ (user.birthDate | date) || '-'}}</td>
                    <td> <input type="button" value="Select" (click)="userSelected(user)" /></td>
                    <td> <input type="button" value="Delete" (click)="onDelete(i)" style="color: red" /></td>
                </tr>
            </tbody>
        </table>

        <div class="d-flex justify-content-between p-2">
            <ngb-pagination [collectionSize]="numberOfUsers" [(page)]="pageNumber" [pageSize]="pageSize"
                (pageChange)="refreshUsers()">
            </ngb-pagination>

            <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshUsers()"
                name="PageSize">
                <option [ngValue]="10">10 users per page</option>
                <option [ngValue]="20">20 users per page</option>
                <option [ngValue]="50">50 users per page</option>
            </select>
        </div>

        <button type="button" class="btn btn-success" (click)="onAddUser()">Add User</button>
    </div>
</form>